PPT_M07UF4_CONSUMIDOR/xml-resources/web-service-references/PPTWebService/wsdl/localhost_8084/PPT_M07UF4_SOAP/PPTWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://daw2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://daw2/" name="PPTWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://daw2/" schemaLocation="http://localhost:8084/PPT_M07UF4_SOAP/PPTWebService?xsd=1" />
</xsd:schema>
</types>
<message name="setLlistaPartides">
<part name="parameters" element="tns:setLlistaPartides" />
</message>
<message name="setLlistaPartidesResponse">
<part name="parameters" element="tns:setLlistaPartidesResponse" />
</message>
<message name="getLlistaPartides">
<part name="parameters" element="tns:getLlistaPartides" />
</message>
<message name="getLlistaPartidesResponse">
<part name="parameters" element="tns:getLlistaPartidesResponse" />
</message>
<message name="consultarEstatPartida">
<part name="parameters" element="tns:consultarEstatPartida" />
</message>
<message name="consultarEstatPartidaResponse">
<part name="parameters" element="tns:consultarEstatPartidaResponse" />
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc" />
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse" />
</message>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador" />
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse" />
</message>
<message name="iniciarJoc">
<part name="parameters" element="tns:iniciarJoc" />
</message>
<message name="iniciarJocResponse">
<part name="parameters" element="tns:iniciarJocResponse" />
</message>
<portType name="PPTWebService">
<operation name="setLlistaPartides">
<input wsam:Action="http://daw2/PPTWebService/setLlistaPartidesRequest" message="tns:setLlistaPartides" />
<output wsam:Action="http://daw2/PPTWebService/setLlistaPartidesResponse" message="tns:setLlistaPartidesResponse" />
</operation>
<operation name="getLlistaPartides">
<input wsam:Action="http://daw2/PPTWebService/getLlistaPartidesRequest" message="tns:getLlistaPartides" />
<output wsam:Action="http://daw2/PPTWebService/getLlistaPartidesResponse" message="tns:getLlistaPartidesResponse" />
</operation>
<operation name="consultarEstatPartida">
<input wsam:Action="http://daw2/PPTWebService/consultarEstatPartidaRequest" message="tns:consultarEstatPartida" />
<output wsam:Action="http://daw2/PPTWebService/consultarEstatPartidaResponse" message="tns:consultarEstatPartidaResponse" />
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://daw2/PPTWebService/acabarJocRequest" message="tns:acabarJoc" />
<output wsam:Action="http://daw2/PPTWebService/acabarJocResponse" message="tns:acabarJocResponse" />
</operation>
<operation name="moureJugador">
<input wsam:Action="http://daw2/PPTWebService/moureJugadorRequest" message="tns:moureJugador" />
<output wsam:Action="http://daw2/PPTWebService/moureJugadorResponse" message="tns:moureJugadorResponse" />
</operation>
<operation name="iniciarJoc">
<input wsam:Action="http://daw2/PPTWebService/iniciarJocRequest" message="tns:iniciarJoc" />
<output wsam:Action="http://daw2/PPTWebService/iniciarJocResponse" message="tns:iniciarJocResponse" />
</operation>
</portType>
<binding name="PPTWebServicePortBinding" type="tns:PPTWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="setLlistaPartides">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLlistaPartides">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarEstatPartida">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="moureJugador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="iniciarJoc">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PPTWebService">
<port name="PPTWebServicePort" binding="tns:PPTWebServicePortBinding">
<soap:address location="http://localhost:8084/PPT_M07UF4_SOAP/PPTWebService" />
</port>
</service>
</definitions>